blusunrize/immersiveengineering/data/*
!blusunrize/immersiveengineering/data/ItemModels.java
!blusunrize/immersiveengineering/data/blockstates
!blusunrize/immersiveengineering/data/models/TRSRItemModelProvider